/.FinalStateOperation.java._trace
/.MachineOperation.java._trace
/.StateOperation.java._trace
/.TransitionOperation.java._trace
/FinalStateOperation.java
/MachineOperation.java
/StateOperation.java
/TransitionOperation.java
